### Exercise 21 – working with Python lists

In [1]:
shopping = ['bread', 'milk', 'eggs']
print(shopping)

['bread', 'milk', 'eggs']

In [2]:
 for item in shopping:
        print(item)

bread
milk
eggs

### Exercise 22 – basic list operations

In [4]:
print(len(shopping))

3

In [5]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2

In [6]:
final_list

[1, 2, 3, 4, 5, 6]

In [7]:
list1 = [1,2]
print(list1*3)

[1, 2, 1, 2, 1, 2]

### Exercise 23 – accessing an item from shopping list data

In [8]:
shopping[1] = 'banana'

In [9]:
shopping

['bread', 'banana', 'eggs']

In [10]:
shopping[-1]

'eggs'

### Exercise 24 – adding items to our shopping list

In [11]:
shopping.append('apple')
print(shopping)

['bread', 'banana', 'eggs', 'apple']

In [28]:
shopping = []

In [29]:
shopping

[]

In [30]:
shopping.append('bread')

In [31]:
shopping.append('eggs')
shopping.append('apple')
shopping.append('milk')

In [32]:
shopping

['bread', 'eggs', 'apple', 'milk']

In [33]:
shopping.insert(2, 'ham')
print(shopping)

['bread', 'eggs', 'ham', 'apple', 'milk']

### Exercise 25 – looping through a list

In [37]:
primes = [2, 3, 5, 7, 11]

In [38]:
prime_square = []
for i in primes:
    prime_square.append(i**2)

In [39]:
prime_square

[4, 9, 25, 49, 121]

### Exercise 26 – using a nested list to store data from a matrix

In [40]:
m = [[1, 2, 3], [4, 5, 6]]

In [41]:
m[1][1]

5

In [42]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

1
2
3
4
5
6

In [47]:
for row in m:
    print('row => ')
    for col in row:
        print(col)

row =>
1
2
3
row =>
4
5
6

### Exercise 27 – implementing matrix operations (addition and subtraction)

In [2]:
X = [[1,2,3], [4,5,6,],[7,8,9]]
Y = [[10,11,12], [13,14,15], [16,17,18]]

In [7]:
# Initialize a result placeholder
result = [
    [0,0,0],
    [0,0,0],
    [0,0,0]
]

# iterate through rows
for i in range(len(X)):
    #iterare through columns
    for j in range(len(X[0])):
        result[i][j] =X[i][j] + Y[i][j]
print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [9]:
# Initialize a result placeholder
result = [
    [0,0,0],
    [0,0,0],
    [0,0,0]
]

# iterate through rows
for i in range(len(X)):
    #iterare through columns
    for j in range(len(X[0])):
        result[i][j] = Y[i][j] - X[i][j]
print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

### Exercise 29 – using a dictionary to store a movie record

In [11]:
movie = {
    "title": "The Godfather",
    "director": "Francis Ford Coppola",
    "year": 1972,
    "rating": 9.2
}

print(movie['year'])

1972

In [12]:
movie['rating'] = (movie['rating'] + 9.3) / 2
print(movie['rating'])

9.25

In [13]:
# Construct a movie dictionary from scratch 
# extend it using key-value assignment
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

In [14]:
movie

{'title': 'The Godfather',
 'director': 'Francis Ford Coppola',
 'year': 1972,
 'rating': 9.2}

In [15]:
movie['actors'] = [
    'Marlone Brando',
    'Al Pacino',
    'James Caan']

In [16]:
movie['other_details'] = {
    'runtime': 175,
    'language': 'English'
}

In [17]:
movie

{'title': 'The Godfather',
 'director': 'Francis Ford Coppola',
 'year': 1972,
 'rating': 9.2,
 'actors': ['Marlone Brando', 'Al Pacino', 'James Caan'],
 'other_details': {'runtime': 175, 'language': 'English'}}

### Exercise 30 – accessing a dictionary using dictionary methods

In [21]:
album_sales = {
    'barbara': 75,
    'madona':300,
    'mariah':200
}
print(album_sales.values())
print(list(album_sales.values()))

dict_values([75, 300, 200])
[75, 300, 200]

In [23]:
print(list(album_sales.keys()))

['barbara', 'madona', 'mariah']

In [28]:
for item in album_sales.items():
    print(item)

('barbara', 75)
('madona', 300)
('mariah', 200)

### Exercise 31 – exploring tuple properties in a dance genre list

In [29]:
t = ('ballet', 'modern', 'hip-hop')
print(len(t))

3

In [31]:
print(t + ('jazz',))

('ballet', 'modern', 'hip-hop', 'jazz')

In [32]:
t_mixed = 'jazz', True, 3
print(t_mixed)

('jazz', True, 3)

In [33]:
t_dance = ('jazz', 3), ('ballroom', 2), ('contemporary', 5)
print(t_dance)

(('jazz', 3), ('ballroom', 2), ('contemporary', 5))

### Exercise 32 – using the zip() method to manipulate dictionaries

In [34]:
items = ['apple', 'orange', 'banana']
quantity = [5, 3, 2]

In [42]:
orders = zip(items,quantity)
print(orders)

<zip object at 0x7f92eb8ac0>

In [43]:
# turning zip object into a list
print(list(orders))

[('apple', 5), ('orange', 3), ('banana', 2)]

In [44]:
# turning a zip object into a tuple
orders = zip(items,quantity)
print(tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

In [46]:
# turning a zip object into a dictionary
orders = zip(items,quantity)
print(dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}