### Exercise 21 – working with Python lists

In [1]:
shopping = ['bread', 'milk', 'eggs']
print(shopping)

['bread', 'milk', 'eggs']

In [2]:
 for item in shopping:
        print(item)

bread
milk
eggs

### Exercise 22 – basic list operations

In [4]:
print(len(shopping))

3

In [5]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2

In [6]:
final_list

[1, 2, 3, 4, 5, 6]

In [7]:
list1 = [1,2]
print(list1*3)

[1, 2, 1, 2, 1, 2]

### Exercise 23 – accessing an item from shopping list data

In [8]:
shopping[1] = 'banana'

In [9]:
shopping

['bread', 'banana', 'eggs']

In [10]:
shopping[-1]

'eggs'

### Exercise 24 – adding items to our shopping list

In [11]:
shopping.append('apple')
print(shopping)

['bread', 'banana', 'eggs', 'apple']

In [28]:
shopping = []

In [29]:
shopping

[]

In [30]:
shopping.append('bread')

In [31]:
shopping.append('eggs')
shopping.append('apple')
shopping.append('milk')

In [32]:
shopping

['bread', 'eggs', 'apple', 'milk']

In [33]:
shopping.insert(2, 'ham')
print(shopping)

['bread', 'eggs', 'ham', 'apple', 'milk']

### Exercise 25 – looping through a list

In [37]:
primes = [2, 3, 5, 7, 11]

In [38]:
prime_square = []
for i in primes:
    prime_square.append(i**2)

In [39]:
prime_square

[4, 9, 25, 49, 121]

### Exercise 26 – using a nested list to store data from a matrix

In [40]:
m = [[1, 2, 3], [4, 5, 6]]

In [41]:
m[1][1]

5

In [42]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

1
2
3
4
5
6

In [47]:
for row in m:
    print('row => ')
    for col in row:
        print(col)

row =>
1
2
3
row =>
4
5
6